*{margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  } 

header{background: rgba(255, 144, 14, 0.1);
                 width: 100%;
                 height: 1322px;}  

.nav-title .title{font-family: 'Open Sans', sans-serif;
                  color:#131313;
                  font-weight: 700;
                  font-size: 45px; 
                margin-top:50px ;}

.links a {text-decoration: none;
          color: #424242;
          width: 477px;
          height: 26px; 
           } 

.links a:hover{border: 2px solid #FF900E;
             background-color: #FF900E;
             box-shadow: 5px 5px 5px gray; 
              border-radius: 5px; 
               color: #FFFFFF; 
                padding: 10px; 
                 }

.nav-container{display: flex; 
               justify-content:space-around;  
               gap: 150px;
               border-bottom:1px solid #727272; 
               } 


.nav-links-container{display:flex;
                     gap: 45px;
                    margin-top: 63px}

/* ........................banner-styles............................... */

.banner-add{text-align: center; 
            margin-top: 205px;}

.banner-title{font-family: 'Open Sans', sans-serif;
              color: #131313;
              font-weight: 700;
              font-size: 64px;
} 

.banner-description{font-family: 'Open Sans', sans-serif;
                    color: #727272;
                    } 

.banner-btn{font-weight: 600;
            font-size: 20px;
            width: 180px;
            height: 64px;
            color: #FFFFFF;
            background-color:#FF900E; 
            border: 1px solid #FF900E;
            border-radius: 8px;
            font-family: 'Open Sans', sans-serif;} 

.banner-btn:hover{border: 2px solid red;
                  box-shadow: 7px 7px 7px gray;}

.banner img{   margin-top: 50px;
               width: 1150px;
               height: 600px; 
               border-radius: 8px; }  
               
      /* --------------Our feature styles----------------- */

.feature-container{display: flex; 
                   justify-content: center; 
                   gap: 80px;}

.team-work{display: grid;
           grid-template-columns: repeat(2,1fr); 
           gap: 10px; 
            margin-top: 85px; 
            margin-left: 100px; 
            border-radius: 10px;}  



.feature-list{margin-top: 210px;
               margin-right: 100px; } 

.feature-list .title{font-weight: 500;
                     font-size: 45px;
                     color: #727272;
                     font-family: 'Open Sans', sans-serif;
} 

.feature-list .title .of-our{font-weight: 700;
                              font-size: 45px;
                              color: #131313;
                              font-family: 'Open Sans', sans-serif;} 
                              
.features {                    font-weight: 700;
                                  font-size: 45px;
                                color: #FF900E;
                                font-family: 'Open Sans', sans-serif;} 

.our-feature{font-family: 'Open Sans', sans-serif;
    color: #727272; } 


/* ................History section styles.................... */

.history-container{display: flex; 
                     margin-top: 130px; 
                     margin-left: 100px; 
                    } 

.architect img{width:708px;
               height: 700px; 
              object-fit:contain; 
               margin-top: 30px; 
               }
               
.history-title{font-weight: 700;
              font-size: 45px;
              font-family: 'Open Sans', sans-serif;
              color: #131313;
              border-left: 4px solid #FF900E; 
              padding-left: 10px;} 

.p{color: #727272;
    font-family: 'Open Sans', sans-serif;} 

.history-text{font-family: 'Open Sans', sans-serif;
    color: #131313;} 

.history-year {font-family: 'Open Sans', sans-serif;
        color: #131313;}
        
.details-history{border: 2px solid whitesmoke;
                 background-color: white; 
                border-radius: 8px;
                box-shadow: 3px 3px 3px gray; 
                 padding: 15px;} 

.experience-btn{width: 230px;
                height: 130px; 
                font-weight: 700;
                font-size: 45px;
                color: #FFFFFF;
                background-color: #FF900E; 
                border-radius: 10px; 
                border: 1px solid #FF900E;
                padding: 10px; 
                position: absolute; 
                left: 730px;
                transform: translateY(-80px); 
            } 

span{          font-weight: 300;
                 font-size: 25px;
                 color: #FFFFFF;   
                 padding-bottom: 10px;} 

.experience-btn:hover{border: 3px solid aqua;} 


        /* ------------------success work-styles---------------- */


.philosophy-title{margin-top: 130px; 
                    margin-left: 80px; 
                    font-family: 'Open Sans', sans-serif;
                    color: #131313;} 
                    
    
.philosophy-description{margin-top: 30px;
                        margin-left: 80px; 
                        font-family: 'Open Sans', sans-serif;
                        color: #727272;} 

.success-container{margin-top: 80px; 
                   margin-left:60px;
                   display: grid;
                   grid-template-columns: repeat(4,1fr);
                   grid-column-gap: 50px; 
                } 

.award, .projects, .email,.clints{border: 1px solid white; 
        padding: 60px; 
        width: 241.83px;
        height: 241.83px; 
        background-color:whitesmoke;
        box-shadow: 5px 5px 5px gray;
        font-family: 'Open Sans', sans-serif;
        transition: .5s;}  

.award-no,.projects-no, .email-no,.clints-no{text-align: center;
                                font-family: 'Open Sans', sans-serif;} 

.award:hover, .projects:hover, .email:hover,.clints:hover{transform: rotate(360deg); 
              background-color: #FF900E; 
             transform: rotate(360deg);
             font-weight: 500px;
             color: #FFFFFF; 
              } 

              /* ..............award winning projects styles...... */

.work-title{margin-top: 150px;
            
            font-family: 'Open Sans', sans-serif;
            font-size: 45px;
            font-weight: 700px; 
            display: flex;
            gap:15px;
            justify-content: center} 

.title-part-1,.title-part-3{color: #727272;} 
.title-part-2{color: red;}
.title-part-4{color: #FF900E;} 

.award-winning-projects{display: grid;
                        grid-template-columns: repeat(4,1fr); 
                        padding: 10px;
                        grid-column-gap:2px; 
                        border-radius: 20px; 
                        margin-top: 60px;} 

 

.project-img img{width: 340px; 
                 height: 250px;} 

.project-img img:hover{border: 3px solid #FF900E;} 



/* .....................sponsors section styles........................ */

.sponsor{text-align: center;
        margin-top: 50px;} 

.sponsor-title{font-family: 'Open Sans', sans-serif;
              color: #131313;
              font-weight: 700;
              font-size: 45px;} 

.sponsor-description{color: #727272;
                     font-family: 'Open Sans', sans-serif;} 

.sponsor-img-container{display: flex;
                       justify-content: space-around;
                       margin-top: 60px;
                       }

.sponsor-img img{-webkit-filter: grayscale(100%);}

.sponsor-img img:hover{-webkit-filter: grayscale(0%); 
                        border:1px solid white;} 

    /* ,,,,,,,,,,,,,,,,,,,copyright-text,,,,,,,,,,,,,,,,,,,,,, */

    .copyright-text{margin-top: 70px;
                    margin-left: 200px;
                    text-align: center; 
                    border: 1px solid #FFF4E7;
                    background-color: #FFF4E7; 
                    border-radius: 10px;
                    width: 1000px;
                    height: 100px; 
                    padding-top: 50px;
                    color: #727272;
                    font-family: 'Open Sans', sans-serif;}

                    /* footer styles */ 


footer{background-image:linear-gradient(45deg,#36332eca,
    #090909bd),url(images/work/bge3.jpg );
       height: 1000px;
       width: 100%;
       margin-top: 80px; 
       
     } 
     
.contact{text-align: center; 
         padding-top: 90px;
         color: white;
         font-family: 'Open Sans', sans-serif;} 

.contact-title{font-weight: 50px;font-size: 40px; } 

.information-container{display: flex; 
                       justify-content: space-around; 
                       margin-top: 150px;} 
.address{color: #FFFFFF;
          } 

 .name input{width:300px;
            height: 50px;
            font-size: 24px;
            text-align: center; 
            background: transparent; 
            border-radius: 20px;
            border:1px solid #31302e;
            outline: none;
            }

.email-ad input{width:300px;
                height: 50px;
                font-size: 24px;
                text-align: center; 
                 
            background: transparent; 
            border-radius: 20px;
            border:1px solid #31302e;
            outline: none;}

.subject input{    width:610px;
                height: 50px;
                font-size: 24px;
                text-align: center;  
                margin-top: 10px;
                background: transparent; 
                
                border-radius: 20px;
                border:1px solid #31302e;
                outline: none;}

.send input         {width:610px;
                    height: 50px;
                    font-size: 24px;
                    text-align: center; 
                    margin-top: 10px;
                    background: transparent; 
                    border:1px solid #31302e;
                    outline: none;
                    border-radius: 20px; 
                    background-color: #660000;
                    color: #FFFFFF;} 

textarea{          background: transparent; 
                   border:1px solid #31302e;
                   outline: none; 
                   color: #727272; 
                   border-radius: 20px; 
                   padding: 20px;}

.input-container{display: flex; gap: 10px;}  


.name:hover,.email-ad:hover,.send:hover,.subject:hover,textarea:hover{           border: 2px solid royalblue;
            border-radius: 20px; 
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            color:white}

.social-links{width: 100%;
              height: 210px;
              background-color: #660000;
              margin-top: 100px;} 

.join{     text-align: center;color: #FFFFFF; 
           padding-top: 30px;
           font-family: 'Open Sans', sans-serif;
           font-size: 30px; 
           font-weight: 200;}

.icon{       justify-content: center;
             margin-top: 80px;
             display: flex; 
              gap: 20px; 
            } 



.fb:hover{background-color:mediumslateblue ;
           border-radius: 10px;}
.youtube:hover{background-color: deeppink;
               border-radius: 10px;}
.earth:hover{background-color: coral;
                border-radius: 10px;}
.twitter:hover{background-color: chartreuse;
                    border-radius: 10px;}
.email-icon:hover{background-color: rgb(243, 5, 5);
                        border-radius: 10px;}
.linkedin:hover{background-color: blue;
                            border-radius: 10px;}
.telegram:hover{background-color: purple;
                                border-radius: 10px;}




/* ...........................RESPONSIVE AREA........................... */



@media screen and (max-width:576px) 
             {.nav-container{flex-direction: column;
                             gap:3px;} 
             .nav-links-container{flex-direction:column; 
                                 text-align: center; 
                                 padding: 10px;
                                 gap: 30px; 
                                margin-left: 15px;
                                border: 2px solid white; background-color: rgb(246, 194, 163);
                                border-radius: 10px; 
                                box-shadow: 5px 5px 5px gray; 
                                width: 90%;
                            }  

        .nav-title .title{margin-top: 20px; } 

        .banner-add{margin-top: 100px;} 

        .banner img{width:100%;
                          height: 400px;}
                          
        /* ------feature-responsive------ */

        .feature-container{flex-direction: column; 
                            gap: 10px; } 
        .team-work{grid-template-columns: repeat(1,1fr); 
                    margin-top: 150px; 
                    margin-left: 6px;
                     }  
        .team-work-img img{width: 100%;} 
        .feature-list{margin-top: 10px;
                      margin-left: 20px; 
                    width: 90%;}  

                /* ----------history section responsive--------- */

.history-container{flex-direction: column; 
                    margin-top: 70px; 
                    margin-left: 50px;} 
.architect img{width: 100%;
               margin-top: 50px;
            height: 100%;}  

.experience-btn{left: 10px;} 


/* ---------------success-work section responsive----------------------- */

.success-container{grid-template-columns: repeat(1,1fr);
    margin-left: 70px; 
    grid-row-gap: 20px;} 

     /* ............award winning projects responsive............. */ 


     .award-winning-projects{grid-template-columns: repeat(1,1fr);}      
     .project-img img{width: 100%;}  
     .work-title{font-size: 18px;
                  font-weight: 500px;} 
                  
    /* .....................sponsors section responsive................. */
                          
.sponsor-img-container{flex-direction: column; 
                       padding-left: 140px;
                       gap:20px} 

.sponsor-img img{width: 100px;} 

              /* copyright-text */

.copyright-text{margin-left: 0px;
                width: 100%; 
                 height: 80px;
                 padding-bottom: 80px;}

                 /* footer responsive */

.information-container{flex-direction:column-reverse;height:500px;}
.input-container{flex-direction: column;} 
.subject input{width: 383px; border: 2px solid white;} 
textarea{width: 380px;border: 2px solid white;} 
.send input{width: 390px;border: 2px solid white;}
.name input{width: 380px;border: 2px solid white;}
.email-ad input{width: 380px;border: 2px solid white;}
.icon{flex-wrap: wrap; gap: 50px;} 
.social-links{height: 300px;}

} 




@media screen and (min-width:577px) and (max-width:992px) {.banner img{width: 100%;} 

/* ..............feature section responsive.................... */
             
   .feature-container{flex-direction: column;gap: 10px;}
   .team-work{ 
    margin-top: 150px; 
    margin-left: 17px;}

    .team-work-img img{width: 100%;} 
        .feature-list{margin-top: 10px;
                      margin-left: 20px; 
                    width: 90%;} 

         .nav-title .title{font-weight: 600px;
                         font-size: 35px;}
    
                 


                /* ----------history section responsive--------- */

.history-container{flex-direction: column; 
                    margin-top: 70px; 
                    margin-left: 50px;} 
.architect img{width: 100%;
               margin-top: 50px;
            height: 100%;}  

.experience-btn{left: 10px;}  


/* -----------------success work section responsive--------------------- */
.success-container{grid-template-columns: repeat(2,1fr); 
                        margin-left: 150px; 
                      grid-row-gap: 20px;}


    /* ..................award winning projects responsive................ */ 


     .award-winning-projects{grid-template-columns: repeat(2,1fr);}      
     .project-img img{width: 100%;} 

 /* .....................sponsors section responsive................. */

 .sponsor-img-container{flex-wrap: wrap;
                         gap: 80px; 
                        }

                         /* copyright-text */

.copyright-text{margin-left: 0px;
    width: 100%; 
     height: 80px;
     padding-bottom: 80px;}


}
   